@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.1; /* 시작과 끝은 매우 투명 */
  }
  10%,
  90% {
    opacity: 0.4; /* 약간 더 밝아짐 */
  }
  20%,
  80% {
    opacity: 0.7; /* 더 밝아짐 */
  }
  50% {
    opacity: 1; /* 중간에는 완전히 불투명 */
  }
}

html,
body {
  display: flex;
  min-height: 100vh; /* 뷰포트가 가시 영역 전체를 채우도록 합니다. */
  margin: 0;
  padding: 0;
  flex-direction: column; /* 요소를 세로로 쌓습니다. */
}

/* .App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
  animation: fadeInOut 10s infinite linear; /* Adjusted duration for smoother transition */
  z-index: 1; /* Sit on top of the base background */
}
#search.searchInput {
  padding: 12px;
  margin-right: 12px;
  border: 2px solid #362210;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20rem; /* Ensures input is responsive */
}
.leftheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* set this based on your actual content */
}
.main-content {
  position: relative; /* z-index가 적용되도록 position 설정 */
  z-index: 2; /* animated-background 위에 위치 */
}
#matter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 600px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-image: url("./bg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

#video-container-1, #video-container-2 {
  position: absolute;
  width: 800px;
  height: 600px;
  z-index: 3;
  background-color: transparent;
}
#video-container-2 {
  right: 0;
}

.corner {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 12px solid green;
}
.corner.tl {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
.corner.tr {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}
.corner.bl {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}
.corner.br {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

canvas {
  width: 100%;
  height: 100%;
}

#ready-button {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  z-index: 10; /* 버튼을 렌더러 위로 올리기 */
  background-color: #f8b9ca;
  padding: 15px 30px;
  border-radius: 10px;
  border-color: #f8b9ca;
  cursor: pointer;
  font-size: 50px;
  color: #000;
}

#ready-button:hover {
  background-color: #ffa1ba;
}

#ready0 {
  font-size: 50px;
}
#ready1 {
  font-size: 50px;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: red; /* 적당한 색상으로 조정 */
  z-index: 4;
}

#tutorial-image-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#tutorial-image-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  animation: zoomInBounce 0.5s ease forwards;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* 반투명 화이트 */
  backdrop-filter: blur(5px); /* 모자이크 효과 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  z-index: 5; /* 맨 위에 표시 */
}

#player0 {
  position: absolute;
  left: 5%;
  z-index: 5; /* 맨 위에 표시 */
  font-family: "myFont";
  font-size: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px;
}

#ready0 {
  position: absolute;

  left: calc(5% - 50px); /* player0의 우측으로부터 60px 만큼 이동 */
  z-index: 4; /* 맨 위에 표시 */
  font-family: "myFont";
  font-size: 50px;
  background-color: rgb(136, 209, 136);
  margin-bottom: 100px;
  border-radius: 10px;
  padding: 10px;
}

#player1 {
  position: absolute;
  left: 70%;
  z-index: 5; /* 맨 위에 표시 */
  font-family: "myFont";
  font-size: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px;
}

#ready1 {
  position: absolute;

  left: calc(70% - 50px); /* player0의 우측으로부터 60px 만큼 이동 */
  z-index: 4; /* 맨 위에 표시 */
  font-family: "myFont";
  font-size: 50px;
  background-color: rgb(136, 209, 136);
  margin-bottom: 100px;
  border-radius: 10px;
  padding: 10px;
}

.footer {
  z-index: 5; /* 맨 위에 표시 */
  position: fixed;
  bottom: 0;
  left: 55%; /* 화면 가로 중앙에서부터 시작 */
  transform: translateX(-50%); /* 가운데 정렬을 위해 왼쪽으로 50% 이동 */
  width: 60%;
  background-color: transparent;
  color: black;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%; /* ensures it's perfectly centered */
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
  animation: zoomInBounce 0.5s ease forwards;
}
.modal button {
  color: #4a434a;
}
.modal-content {
  text-align: center; /* Centers the text and the button */
}
.url-container {
  margin-top: 10px; /* Gives some space above the container */
}
textarea {
  width: 100%; /* Makes the textarea take up full container width */
  margin-bottom: 10px; /* Space between textarea and button */
}
.close {
  color: #aaa;
  float: none; /* If previously set to float */
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 20px; /* Give some space above the content */
  margin-left: 90%;
}

.close:hover {
  color: black;
}
.canvas-transparent {
  position: absolute; /* 절대 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 투명 배경 */
  z-index: 10; /* 필요에 따라 z-index를 조절 */
}
.menu-button {
  margin-top: 1rem;
  padding: 1.25em 2em;
  font-family: "MyFont";
  color: #ede7f6;
  text-transform: uppercase;
  background: #362210;
  border: 2px solid #362210;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 2rem;
  width: 13rem;
  height: 5rem;
}

.menu-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: zoomInBounce 0.5s ease forwards;
}

.menu-popup button {
  margin-bottom: 10px;
  padding: 10px 20px;
  color: #4a434a;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.retry-popup {
  position: fixed; /* 화면 중앙에 고정 위치 */
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 500px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  z-index: 15; /* 팝업이 다른 요소들 위에 나타나도록 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: zoomInBounce 0.5s ease forwards;
}

.retry-popup h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "myFont"; /* 기존의 글꼴 사용 */
}

.retry-popup button {
  margin: 10px;
  padding: 10px 20px;
  color: #4a434a;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.retry-popup button:hover {
  background-color: #ddd; /* 호버 시 배경색 변경 */
}

.retry-popup button:active {
  background-color: #ccc; /* 클릭 시 배경색 변경 */
}

.waiting-popup {
  position: fixed; /* 화면 중앙에 고정 위치 */
  top: 25%;
  left: 50%;
  width: 80%;
  max-width: 500px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  z-index: 12; /* 팝업이 다른 요소들 위에 나타나도록 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: zoomInBounce 0.5s ease forwards;
}

.waiting-popup h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "myFont"; /* 기존의 글꼴 사용 */
}

.waiting-popup span::after {
  content: "기다리는 중";
  animation: waiting-dots 2s infinite;
}

#countdown-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 30px;
  background-color: #eee;
  border-radius: 15px;
  overflow: hidden;
  z-index: 4;
  display: flex;
  align-items: center;
}

#countdown-bar {
  height: 100%;
  width: 100%;
  background-color: red;
  position: relative;
  overflow: hidden;
  transition: width 1s linear;
}

#countdown-stripes {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
  animation: moveStripes 1s linear infinite;
}

#loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-fmily: "myFont";
  font-size: 16px;
  font-weight: bold;
  color: #4a434a; /* 적당한 색상으로 조정 */
}

@keyframes zoomInBounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  80% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes moveStripes {
  from {
    left: -40px;
  }
  to {
    left: 0;
  }
}
