html, body {
  display: flex;
  min-height: 100vh; /* 뷰포트가 가시 영역 전체를 채우도록 합니다. */
  margin: 0;
  padding: 0;
  flex-direction: column; /* 요소를 세로로 쌓습니다. */
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#matter-container {
  position: absolute;
  top: 50%; /* 중앙 정렬 */
  left: 50%; /* 중앙 정렬 */
  transform: translate(-50%, -50%); /* 정확한 중앙 위치 */
  width: 1600px; /* 너비 설정 */
  height: 600px; /* 높이 설정 */
  z-index: 2; /* Matter.js 캔버스를 상위에 */
  display: flex; /* 자식 요소를 가로로 배치 */
  justify-content: space-between; /* 공간을 고르게 분배 */
}

#video-container-1 {
  position: absolute; /* 부모 기준 위치 */
  width: 50%; /* 전체 너비의 50% */
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  transform: scaleX(-1);
}

#video-container-2 {
  position: absolute; /* 부모 기준 위치 */
  right: 0; /* 오른쪽 정렬 */
  width: 50%; /* 전체 너비의 50% */
  height: 100%;
  z-index: 0;
  opacity: 0.3;
  transform: scaleX(-1);
}

canvas {
  width: 100%;
  height: 100%;
}

#ready-button {
  position: absolute;
  bottom: 8%;
  z-index: 3; /* 버튼을 렌더러 위로 올리기 */
  background-color: #fff;
  padding: 50px 70px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: red; /* 적당한 색상으로 조정 */
  z-index: 4;
}

#tutorial-image-1, #tutorial-image-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* 반투명 화이트 */
  backdrop-filter: blur(5px); /* 모자이크 효과 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: black;
  z-index: 5; /* 맨 위에 표시 */
}

#player0{
  position: absolute;
  border: 2px solid #000;
  padding: 10px;
  top: 5%;
  left: 20%;
  z-index: 5; /* 맨 위에 표시 */
}
#player1{
  position: absolute; 
  border: 2px solid #000;
  padding: 10px;
  top: 5%;
  right: 20%;
  z-index: 5; /* 맨 위에 표시 */
}

.footer {
  z-index: 5; /* 맨 위에 표시 */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
}

.canvas-transparent {
  position: absolute; /* 절대 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* 투명 배경 */
  z-index: 10; /* 필요에 따라 z-index를 조절 */
}

.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 5;
}

.menu-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-popup button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}