@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.1; /* 시작과 끝은 매우 투명 */
  }
  10%,
  90% {
    opacity: 0.4; /* 약간 더 밝아짐 */
  }
  20%,
  80% {
    opacity: 0.7; /* 더 밝아짐 */
  }
  50% {
    opacity: 1; /* 중간에는 완전히 불투명 */
  }
}

body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* Ensure body can contain absolute elements correctly */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
  animation: fadeInOut 10s infinite linear; /* Adjusted duration for smoother transition */
  z-index: 1; /* Sit on top of the base background */
}

.main-content {
  position: relative; /* z-index가 적용되도록 position 설정 */
  z-index: 2; /* animated-background 위에 위치 */
}

.form-signin {
  --bg: #fff;
  --text: #382b22;
  --light-pink: #ffffff;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-shadow: #ffe3e2;
  text-align: center;
  width: 50%; /* Increased width */
  max-width: 650px; /* Max width to prevent too large sizes on big screens */
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 1.25em 2em;
  background-image:url('./Wall.png');
  border-radius: 0.5rem;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
  margin: auto; /* Center in the available space */
}

.hello {
  font-size: 5rem;
  margin: 0.8em;
  padding-bottom: 1rem;
  color: white;
}

.homeLogo {
  width: 100%; /* Adjust based on your preference */
  max-width: 700px; /* Max width to maintain aspect ratio and appearance */
  height: auto;
  margin: auto; /* Center the logo if needed */
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .form-signin {
    width: 60%; /* Larger on smaller screens to maintain readability */
  }
}

@media (max-width: 800px) {
  .form-signin {
    width: 80%; /* Larger on small devices */
    font-size: 14px; /* Adjust font size to fit smaller screens */
  }
  .hello {
    font-size: 1.5rem; /* Slightly smaller font size for small devices */
  }
}

@media (max-width: 500px) {
  .form-signin {
    width: 95%; /* Use most of the screen on very small devices */
    padding: 1em; /* Reduce padding */
  }
  .hello {
    font-size: 1.2rem; /* Further reduce for very small screens */
  }
}

.box {
  width: 300px;
  height: 400px;
  background-color: white;
  margin: 0 10px;
  margin-top: 10px;
}

.round {
  margin-top: 5px;
  margin-left: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
}

.timer {
  margin-top: 10px;
  margin-left: 46%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.click-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  border: solid black;
  font-size: 20px;
  font-weight: bold;
}

.click-box:hover {
  background-color: #f0f0f0;
  border-color: #999;
  cursor: pointer;
}
