@font-face {
  font-family: "MyFont";
  src: url("./dos.ttf") format("opentype");
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.5; /* Start and end with semi-transparent */
  }
  50% {
    opacity: 1; /* Fully opaque at the middle */
  }
}
.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
  animation: fadeInOut 10s infinite;
  z-index: 1; /* Sit on top of the base background */
}

body {
  background-image: url("./bg3.png");
  font-family: "MyFont", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-size: cover;
  z-index: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 32px; /* Increased overall font size */
  /* 애니메이션 적용 */
}

.mainImg {
  display: none;
  border-radius: 20px;
  border: 10px pink solid;
  margin-top: 1rem;
  width: 80%;
}

.totalContain {
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(72, 53, 34, 0.8);
  padding: 1.2rem; /* Increased padding */
  font-size: 24px; /* Increased font size for header */
  height: 10rem;
  background-image: url("./header2.webp");
}

/* Profile section styles */
.profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0.75rem;
  background-color: white;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: width 0.3s ease;
}

.profile:hover .menu {
  display: block;
  transform: translateX(0);
}

.profile img {
  width: 50px;
  height: 40px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-left: 35px;
  cursor: pointer;
}

/* Login button styles */
.loginButton {
  margin-left: 12px;
  padding: 10px 20px;
  background-color: #4b0082;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

/* Logo styles */
.logo {
  width: 45rem;
  height: auto;
}

/* Search form styles */
.search {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 12px;
  margin-right: 12px;
  border: 2px solid #4b0082;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensures input is responsive */
}

.searchInput:focus {
  border-color: #362210;
}

.roomSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 2rem;
  width: 12rem;
  height: 5rem;
}

.roomSearch:hover {
  background-color: #764a27;
}

.contain {
  height: 80%;
  width: 100%;
  max-width: 1920px; /* Limit max width to avoid overly stretched layouts on very wide screens */
  margin: auto;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of items */
  align-items: stretch; /* Align items in a flexible manner */
  padding: 1rem;
  box-sizing: border-box;
}

.createRoomContain {
  flex: 1; /* Allows flexible growth and shrink based on available space */
  max-width: 400px; /* Maximum width for the creation box */
  margin-top: 2rem;
  margin-right: 3rem; /* Provides spacing between the two main containers */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(72, 53, 34, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.roomListContain {
  flex: 3; /* Takes up more space than createRoomContain */
  margin-top: 2rem;
  background-color: rgba(72, 53, 34, 0.8);
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.roomList {
  display: flex;
  flex-direction: column;
  align-items: center; /* 내부 요소들을 중앙 정렬 */
  max-width: 100%; /* 최대 너비 설정 */
  max-height: 60rem;
  overflow-y: auto;
}
.roomListDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.room {
  display: flex;
  justify-content: center; /* 내부 내용을 중앙으로 정렬 */
  align-items: center;
  width: 95%;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  background-image: url("./blockback_2.png");
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.room img {
  margin-top: 5rem;
  width: 100px; /* Adjust based on your preference */
  height: 100px; /* Maintain aspect ratio */
  /* margin-right: 1rem; */
}

.roomDetails {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.roomName {
  flex: 3; /* Increased width */
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #362210;
  margin-top: 5rem;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
}
.nickname {
  flex: 2; /* Increased width less than roomName */
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #362210;
  margin-top: 5rem;
  margin-right: 10px;
  color: white;
  text-align: center;
}
.go {
  margin-top: 5rem;
  font-size: 20px; /* Increased font size */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  width: 12rem;
  height: 6rem;
  font-size: 2rem;
  opacity: 1;
}
.roomListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
}

.roomListHeader .headerText {
  font-size: 64px; /* Increased font size */
}
#roomName.inputField {
  font-size: 15px; /* 기본 폰트 크기 */
  padding: 10px; /* 기본 패딩 */
  margin: 5px 0; /* 기본 마진 */
  font-family: "MyFont";
}
#password.inputField {
  font-size: 20px; /* 기본 폰트 크기 */
  padding: 10px; /* 기본 패딩 */
  margin: 5px 0; /* 기본 마진 */
  font-family: "MyFont";
}
input[type="checkbox"] {
  width: 18px; /* 체크박스의 너비를 25px로 설정 */
  height: 18px; /* 체크박스의 높이를 25px로 설정 */
  cursor: pointer; /* 마우스를 올렸을 때 손가락 모양으로 변경 */
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .roomList,
  .header,
  .search,
  .profile,
  .menu ul li,
  .room .roomText {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .profile {
    margin-bottom: 10px;
  }

  .menu {
    position: static;
    display: block;
  }

  .searchInput,
  .roomSearch {
    width: auto; /* Adjust based on parent width */
  }

  .contain {
    flex-direction: column;
  }

  .createRoomContain,
  .roomListContain {
    max-width: 100%; /* Each container takes full width of the screen on smaller devices */
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .profile {
    margin-bottom: 10px;
  }

  .menu {
    display: block;
  }

  .searchInput {
    margin-bottom: 10px;
  }
  .room {
    flex-direction: column;
  }

  .room img {
    margin-bottom: 1rem; /* Space between image and text on smaller screens */
  }

  .roomDetails {
    flex-direction: column;
    align-items: stretch;
  }

  .roomName,
  .nickname,
  .go {
    width: 10%; /* Full width on smaller screens */
    margin-right: 0; /* Remove margin on smaller screens */
    margin-bottom: 10px; /* Space between elements */
  }

  .roomListHeader {
    flex-direction: column; /* 모바일 뷰에서는 항목들을 세로로 쌓음 */
    padding: 0.5rem;
  }

  .roomListHeader .headerText {
    font-size: 50px; /* 모바일에서는 폰트 크기를 조금 줄임 */
    margin-bottom: 10px; /* 텍스트와 버튼 사이에 마진 추가 */
  }

  .roomListHeader .refreshButton {
    width: 100%; /* 모바일에서 버튼을 전체 폭으로 확장 */
    font-size: 14px; /* 모바일에서의 버튼 폰트 크기를 조정 */
  }
}

.contain {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.createRoomContain,
.roomListContain {
  padding: 0.5rem;
}

.createRoomContain {
  width: 100%;
  max-width: 360px; /* Fixed max-width for better control */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
}

.createButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 5rem;
  font-size: 2rem;
  opacity: 1;
}

.title {
  font-family: "MyFont";
  font-size: 4rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;
}
.createRoom {
  width: 80%;
  height: 50%;
  /* border: solid; */
  /* background-color: #9575cd; */
  background-image: url("./Wall.png");
  font-size: 2rem;
  /* border-color: #b39ddb; */
  border-radius: 1rem;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.createRoom p {
  color: black;
}
/* .inputField,
.roomListContain,
.room,
.roomText,
.roomName,
.nickname,
.go,
.roomListHeader,
.headerText */
.refreshButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 2rem;
  width: 12rem;
  height: 5rem;
}

button {
  margin-top: 1rem;
  padding: 1em 1.5em;
  font-family: "MyFont";
  color: #ede7f6;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #362210;
  border: 2px solid #362210;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button::before {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translate3d(0, 0.25em, -0.25em);
}

button:hover {
  background: #764a27;
  transform: translate(0, 0.25em);
}

button:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button:active {
  background: #764a27;
  transform: translate(0em, 0.75em);
}

button:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

.roomListContain {
  width: calc(100% - 360px); /* Adjust width to take remaining space */
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}

.roomList {
  display: flex;
  flex-direction: column;
  max-height: 60rem;
  overflow-y: auto;
}

.room {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #9575cd;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.roomText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.roomName,
.nickname,
.go {
  padding: 0.5rem;
  border-radius: 1rem;
}

.roomListHeader {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 정렬을 위해 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 1rem;
  font-size: 1.5rem; /* 기본 폰트 크기 */
}

.roomListHeader .headerText {
  flex-grow: 1; /* 가용 공간을 모두 차지하도록 설정 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  font-size: 64px; /* 텍스트 크기 증가 */
}
.roomListHeader .refreshButton {
  margin-left: auto; /* 왼쪽 요소와의 거리 최대로 */
  padding: 0.5rem 1rem; /* 패딩 설정 */
}

@media screen and (max-width: 480px) {
  .contain,
  .createRoomContain,
  .roomListContain {
    width: 100%;
  }

  .createRoomContain {
    max-width: 100%;
  }

  .roomListContain {
    width: 100%;
  }

  .searchInput,
  .roomSearch,
  .loginButton {
    font-size: 1rem;
    padding: 8px 16px;
  }

  button {
    font-size: 0.875rem;
  }

  .roomListHeader .headerText {
    font-size: 18px; /* 더 작은 화면에서 폰트 크기를 더 줄임 */
  }
}

/* 중간 크기의 화면에서의 스타일 */
@media (min-width: 600px) {
  #roomName.inputField {
    font-size: 18px; /* 증가된 폰트 크기 */
    padding: 12px; /* 증가된 패딩 */
    margin: 8px 0; /* 증가된 마진 */
    width: 80%;
  }
  #password.inputField {
    font-size: 18px; /* 증가된 폰트 크기 */
    padding: 12px; /* 증가된 패딩 */
    margin: 8px 0; /* 증가된 마진 */
    width: 80%;
  }
}

/* 큰 화면에서의 스타일 */
@media (min-width: 992px) {
  #roomName.inputField {
    font-size: 20px; /* 더욱 증가된 폰트 크기 */
    padding: 15px; /* 더욱 증가된 패딩 */
    margin: 10px 0; /* 더욱 증가된 마진 */
  }
  #password.inputField {
    font-size: 20px; /* 더욱 증가된 폰트 크기 */
    padding: 15px; /* 더욱 증가된 패딩 */
    margin: 10px 0; /* 더욱 증가된 마진 */
  }
}
