@font-face {
  font-family: "MyFont";
  src: url("./dos.ttf") format("opentype");
}

body {
  background-image: url("./bkk3.webp");
  font-family: "MyFont", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-size: cover;
  z-index: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.totalContain {
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.header {
  font-family: "MyFont", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6fa;
  padding: 0.5rem;
}

/* Profile section styles */
.profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0.75rem;
  background-color: white;
  padding: 0.75rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: width 0.3s ease;
}

.profile:hover .menu {
  display: block;
  transform: translateX(0);
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-left: 35px;
  cursor: pointer;
}

/* Login button styles */
.loginButton {
  margin-left: 12px;
  padding: 10px 20px;
  background-color: #4b0082;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

/* Logo styles */
.logo {
  width: 100px;
  height: auto;
}

/* Search form styles */
.search {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 12px;
  margin-right: 12px;
  border: 2px solid #4b0082;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensures input is responsive */
}

.searchInput:focus {
  border-color: #a831fd;
}

.roomSearch {
  margin-right: 12px;
  padding: 10px 20px;
  background-color: #4b0082;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.roomSearch:hover {
  background-color: #a831fd;
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
  .header,
  .search,
  .profile,
  .menu ul li,
  .roomList .room .roomText {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .profile {
    margin-bottom: 10px;
  }

  .menu {
    position: static;
    display: block;
  }

  .searchInput,
  .roomSearch {
    width: auto; /* Adjust based on parent width */
  }

  .createRoomContain,
  .roomListContain {
    width: 100%; /* Full width on smaller screens */
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .contain {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .profile {
    margin-bottom: 10px;
  }

  .menu {
    display: block;
  }

  .searchInput {
    margin-bottom: 10px;
  }
}

.contain {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.createRoomContain {
  width: 100%;
  max-width: 360px; /* Fixed max-width for better control */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(237, 231, 246, 0.8);
  border-radius: 1rem;
  padding: 1rem;
}

.createButton,
.title,
.createRoom,
.inputField,
button,
.roomListContain,
.room,
.roomText,
.roomName,
.nickname,
.go,
.roomListHeader,
.headerText,
.refreshButton {
  width: 100%;
  text-align: center;
}

button {
  margin-top: 1rem;
  padding: 1em 1.5em;
  border-radius: 0.75em;
}

button::before {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transform: translate3d(0, 0.25em, -0.25em);
}

button:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}

button:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}

button:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

.roomListContain {
  width: calc(100% - 360px); /* Adjust width to take remaining space */
  margin-top: 2rem;
  background-color: rgba(237, 231, 246, 0.8);
  border-radius: 1rem;
  padding: 1rem;
}

.roomList {
  display: flex;
  flex-direction: column;
  max-height: 60rem;
  overflow-y: auto;
}

.room {
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: #9575cd;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.roomText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomName,
.nickname,
.go {
  padding: 0.5rem;
  border-radius: 1rem;
}

.roomListHeader {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.headerText,
.refreshButton {
  font-size: 1.5rem;
  padding: 0.5rem;
}

@media screen and (max-width: 480px) {
  .contain,
  .createRoomContain,
  .roomListContain {
    width: 100%;
  }

  .createRoomContain {
    max-width: 100%;
  }

  .roomListContain {
    width: 100%;
  }

  .searchInput,
  .roomSearch,
  .loginButton {
    font-size: 1rem;
    padding: 8px 16px;
  }

  button {
    font-size: 0.875rem;
  }
}
