@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Orbit&display=swap");

body {
  /* background-image: url("/images/background.webp"); */
  /* src/styles/room.css에 있고, 이미지가 public/images/background.webp에 있다면, CSS 파일에서 이미지까지의 경로는 ../../../public/images/background.webp */

  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-size: cover;
}
.totalContain {
  /* border: solid; */
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E6E6FA;
}

/* Styles for profile section */
.profile {
  position: relative; 
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 12px;
  background-color: white; /* 흰색 배경 */
  padding: 12px; /* 내부 여백 추가 */
  border-radius: 5px; /* 둥근 모서리 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  overflow: hidden; /* 메뉴가 넘치는 것을 방지 */
  transition: width 0.3s ease; /* 너비 변경 애니메이션 */
}

.profile:hover {
  width: 300px; /* 마우스 오버 시 너비 확장 */
}

.profile:hover .menu {
  display: block; /* 마우스 오버 시 메뉴 표시 */
  transform: translateX(0);
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}


/* .menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 5px;
  display: none; 
  position: absolute; 
  top: 0;
  right: 0; 
  transform: translateX(100%); 
  transition: transform 0.3s ease;
} */

.menu ul {
  display: flex; /* 메뉴 항목 가로 배치 */
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-left: 35px; /* 메뉴 항목 간 간격 */
  cursor: pointer;
}

/* Styles for login button */
.loginButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Styles for logo */
.logo {
  width: 100px;
  height: auto;
}

/* Styles for search form */
.search {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 12px; /* Increase padding for a larger input */
  margin-right: 12px; /* Increase margin for spacing */
  border: 2px solid #4B0082; /* Change border color and thickness */
  border-radius: 5px; /* Add border radius for a rounded look */
  font-size: 18px; /* Increase font size for better readability */
  outline: none; /* Remove default outline */
  transition: border-color 0.3s; /* Add transition for a smooth effect */

  /* Add box shadow for a subtle effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput:focus {
  border-color: #a831fd; /* Change border color on focus */
}

.roomSearch {
  margin-right: 12px;
  padding: 10px 20px; /* Increase padding for a larger button */
  background-color: #4B0082; /* Same blue as input border */
  color: #fff;
  border: none;
  border-radius: 5px; /* Match input border radius */
  cursor: pointer;
  font-size: 16px; /* Match input font size */
  outline: none; /* Remove default outline */
  transition: background-color 0.3s; /* Add transition for hover effect */

  /* Add box shadow for a subtle effect, similar to input but lighter */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

.roomSearch:hover {
  background-color: #a831fd; /* Darker blue on hover */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px 0;
  }

  .profile {
    margin-bottom: 10px;
  }

  .menu {
    position: static;
    display: block;
  }
}

.contain {
  width: 85%;
  height: 70rem;
  margin: auto;
  display: flex;
}

.createRoomContain {
  width: 30%;
  height: 50rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 231, 246, 0.8);
  border-radius: 1rem;
  .createButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    font-size: 2rem;
    opacity: 1;
  }
  .title {
    font-weight: bolder;
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 1;
  }
  .createRoom {
    width: 80%;
    height: 35rem;
    border: solid;
    background-color: #9575cd;
    font-size: 2rem;
    border-color: #b39ddb;
    border-radius: 1rem;
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      font-weight: bold;
      color: rgb(45, 44, 44);
    }
  }
  .inputField {
    font-size: 2rem;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 1px;
    border: solid 0.3rem #b39ddb;
    border-radius: 1rem;
    opacity: 1;
  }
}
button {
  font-family: "IBM Plex Sans KR", sans-serif;
  --text: #ede7f6;
  --light-pink: #673ab7;
  --pink: #7e57c2;
  --dark-pink: #512dab;
  --pink-border: #2e1793;
  --pink-shadow: #b39ddb;
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
    background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--dark-pink);
  border-radius: inherit;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 그림자 범위, 색상, 투명도 조절 */
  transform: translate3d(0, 0.25em, -0.25em); /* 이동 거리 감소 */
  transition: transform 200ms ease-out, box-shadow 200ms ease-out; /* 트랜지션 시간 및 타이밍 함수 변경 */
}
button:hover {
  cursor: pointer;
  background: var(--pink);
  transform: translate(0, 0.25em);
}
button:hover::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0.5em 0 0 var(--pink-shadow);
  transform: translate3d(0, 0.5em, -1em);
}

button:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}

button:active::before {
  box-shadow: 0 0 0 2px var(--pink-border), 0 0 var(--pink-shadow);
  transform: translate3d(0, 0, -1em);
}

.roomListContain {
  width: 66.67%;
  background-color: rgba(237, 231, 246, 0.8);
  border-radius: 1rem;
  .roomList {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 60rem;
    overflow-y: auto;
  }
  .room {
    width: 90%;
    height: 10rem;
    border: solid #b39ddb;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: #9575cd;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .roomText {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .roomName {
        width: 40%;
        background-color: #7e57c2;
        border-radius: 1rem;
        font-weight: bold;
        color: rgb(240, 240, 240);
        font-size: 2.5rem;
        padding: auto;
      }
      .nickname {
        width: 30%;
        color: white;
        font-weight: bold;
        background-color: #7e57c2;
        border-radius: 1rem;
        font-size: 2rem;
      }
      .go {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-right: 10px;
        width: 9rem;
        height: 4rem;
      }
    }
  }
  .roomListHeader {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    .headerText {
      display: flex;
      justify-content: center;
      width: 80%;
      font-weight: bolder;
      font-size: 5rem;
    }
    .refreshButton {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      font-size: 2rem;
      width: 15rem;
      height: 5rem;
    }
  }
}
